<div class="govuk-accordion__section">
    <div class="govuk-accordion__section-header">
        <h2 class="govuk-accordion__section-heading">
                        <span class="govuk-accordion__section-button" id="accordion-default-heading-4">
                          JSON
                        </span>
        </h2>
    </div>
    <div id="accordion-default-content-4" class="govuk-accordion__section-content">
        <div>
            <pre class="hljs mb-0 p-4 block min-h-full overflow-auto code-block" style=""><code><%- locals.datasetJson %></code></pre>
            <style>
              code, code > span, code > span.wg {
                font-family: 'Fira Code', monospace !important;
              }
              .code-block {
                font-family: 'Fira Code', monospace;
                max-height: 500px;
                overflow: auto;
                border: 1px solid #bfc1c3;
                padding: 10px;
              }
            </style>
        </div>
    </div>
</div>
