{
  "root": true,
  "env": {
        "node": true,
        "jest": true,
        "es6": true
  },
  "parser": "@typescript-eslint/parser",
  "plugins": [
    "@typescript-eslint",
    "prettier"
  ],
  "extends": [
    "eslint:recommended",
    "plugin:@typescript-eslint/eslint-recommended",
    "plugin:@typescript-eslint/recommended",
    "plugin:@shopify/esnext",
    "plugin:import/typescript",
    "prettier"
  ],
  "rules": {
    "prettier/prettier": 2,
    "no-console": 0,
    "no-process-env": 0
  }
}
