$black: #1f1f1f;
$darkgrey: #666666;
$lightgrey_dark: #cccccc;
$darkred: #7e0a0e;
$darkblue: #1f446d;
$darkgreen: #3b510d;
$darkpurple: #772cfe;
$orange: #ff8000;
$yellow: #ffd530;
$white: #ffffff;
$charcoal: #323232;
$midgrey: #999999;
$lightgrey_mid: #dddddd;
$red: #aa1111;
$palered: #fea8a9;
$whitered: #ffe4e5;
$blue: #0360a6;
$whiteblue: #c2e0fc;
$paleblue: #99ccff;
$green: #019e1e;
$whitegreen: #cdf7d4;
$plum: #632a5d;
$paleorange: #ffdab5;
$paleyellow: #fff5ce;
$lightgrey: #b5b5b5;
$lightgrey_semi: #e5e5e5;
$lightgrey_light: #eeeeee;
$lightgrey_offwhite: #f1f1f1;
$brightred: #d81f1f;
$lightblue: #3b7dc5;
$lightgreen: #01b723;
$purple: #a82b71;
$whitepurple: #eed5e3;
