@use 'colours';

.filters-container {
  .dimension-accordion {
    border-top: 1px solid colours.$lightgrey_semi;

    &[open] > .dimension-accordion__summary::before {
      transform: rotate(90deg);
    }

    .dimension-accordion__summary {
      display: flex;
      align-items: flex-start;
      padding: 15px 0;
      cursor: pointer;
      list-style: none;
      gap: 6px;

      &::-webkit-details-marker {
        display: none;
      }

      &:focus {
        outline: none !important;
        background-color: transparent !important;
        box-shadow: none !important;
        color: inherit !important;
      }

      &::before {
        content: '';
        background-image: url('../images/chevron.svg');
        background-repeat: no-repeat;
        background-size: 15px 15px;
        background-position: center;
        width: 24px;
        min-width: 24px;
        height: 24px;
        flex-shrink: 0;
      }
    }

    .dimension-accordion__title {
      font-weight: bold;
      font-size: 18px;
      color: colours.$blue;
    }

    .dimension-accordion__count {
      font-size: 14px;
      color: colours.$red;
      font-weight: bold;
      text-transform: uppercase;
      padding-bottom: 5px;
    }
  }

  .filter:first-of-type .dimension-accordion {
    border-top: none;
  }

  .select-all-variables {
    margin-top: 20px;
  }

  .filter-apply {
    padding: 10px 0;
  }

  .filter-container {
    border: 1px solid colours.$darkgrey;
    padding: 10px;

    &:focus {
      outline: 2px solid colours.$black;
      box-shadow: 0 0 0 4px colours.$yellow;
    }

    .filter-head {
      padding-bottom: 10px;
      border-bottom: 1px solid colours.$lightgrey_light;
    }

    .filter-body {
      padding-top: 10px;
      overflow: auto;
      max-height: 600px;
    }

    .govuk-checkboxes {
      display: flex;
      flex-direction: column;
    }

    input[type='checkbox'] {
      width: 24px;
      height: 24px;
      margin-left: 0;
      margin-top: 5px;
    }

    .filter-controls {
      height: 100%;
      display: flex;
      align-items: center;
      gap: 0.25em;

      > a {
        font-size: 14px !important;
      }
    }

    .govuk-checkboxes__item {
      display: inline-flex;
      flex-wrap: nowrap;

      > * {
        flex-shrink: 0;
      }

      &:not(summary > .govuk-checkboxes__item) {
        padding-right: 1em; // allow slight overscroll
      }

      label {
        white-space: nowrap;
      }
    }

    // overrides for default checkboxes which have a
    // strange clickable margin, this affects the click
    // hit-box for the details/summary element
    .govuk-checkboxes__label {
      margin-top: 0 !important;
      height: 34px;
      padding-left: 0.5em !important;
      max-width: unset;

      display: flex;
      align-items: center;

      &:before {
        top: 50%;
        margin-top: -12px;
      }
      &:after {
        top: 50%;
        margin-top: -5px;
      }
    }

    // overrides for radios inside filters to match checkbox styling
    .govuk-radios {
      display: flex;
      flex-direction: column;
    }

    .govuk-radios__item {
      background-color: transparent;
      padding: 0;
      margin-bottom: 0;
      display: inline-flex;
      flex-wrap: nowrap;

      > * {
        flex-shrink: 0;
      }

      padding-right: 1em;

      label {
        white-space: nowrap;
      }
    }

    .govuk-radios__label {
      margin-top: 0 !important;
      height: 34px;
      padding-left: 0.5em !important;
      font-size: 14px;
      max-width: unset;

      display: flex;
      align-items: center;

      &:before {
        top: 50%;
        margin-top: -10px;
        margin-left: 0;
      }
      &:after {
        top: 50%;
        margin-top: -7px;
        left: 3px;
        margin-left: 0;
      }
    }

    .govuk-radios__input {
      width: 24px;
      height: 24px;
      margin-left: 0;
      margin-top: 5px;
    }

    .indent {
      margin-left: 30px;
      position: relative;

      &::before {
        content: '';
        display: block;
        position: absolute;
        left: -20px;
        width: 2px;
        height: 100%;
        background-color: colours.$lightgrey_light;
      }
    }

    details {
      &[open] {
        > summary::before {
          transform: rotate(90deg);
        }
      }

      .govuk-checkboxes__item:not(summary > .govuk-checkboxes__item) {
        margin-left: 30px;
      }

      summary {
        display: flex;
        position: relative;
        white-space: nowrap;
        height: 34px;
        align-items: center;
        gap: 6px;

        &::before {
          content: '';
          background-image: url('../images/chevron.svg');
          background-repeat: no-repeat;
          background-size: 15px 15px;
          background-position: center;
          width: 24px;
          height: 24px;
          cursor: pointer;
          // prevent controls from being hidden.
          flex-shrink: 0;
        }
      }
    }
  }

  @media all and (max-width: 640px) {
    .filter-container {
      .govuk-checkboxes__label,
      .govuk-radios__label {
        height: 40px;
      }

      details {
        summary {
          height: 40px;
          &::before {
            background-size: 22.5px 22.5px;
            width: 36px;
            height: 36px;
          }
        }
      }

      .indent {
        margin-left: 36px;
      }
    }
  }
}
