@use 'colours';
@use 'wg';
@use 'autocomplete';
@use 'filters';

.wg {
  .govuk-header__link:hover {
    border: none;
  }

  .govuk-header__content {
    display: none;
  }

  .govuk-header {
    background: colours.$charcoal;
    border-bottom: 0px;
    padding: 20px 0px;
    height: 34px;
  }

  .govuk-phase-banner {
    .govuk-phase-banner__content {
      font-size: 1rem;
      line-height: 1.25;
    }
  }

  .wg-header {
    background-color: colours.$charcoal;
  }

  .govuk-header__container {
    border-bottom: none;
    padding-top: 0px;
  }

  .govuk-template {
    background-color: colours.$white;
  }

  .govuk-pagination__link {
    color: colours.$red;
  }

  .govuk-pagination__item--current {
    background-color: inherit;
  }

  .tasklist-no-border:first-child {
    border-top: none;
  }

  .tasklist-no-border {
    border-bottom: none;
  }
}
