
<div class="govuk-!-margin-bottom-8">
  <strong class="govuk-tag govuk-tag--<%= statusToColour(datasetStatus) %>"><%= t(`badge.dataset_status.${datasetStatus}`) %></strong>

  <% if (locals.publishingStatus) { %>
    <strong class="govuk-tag govuk-tag--<%= statusToColour(publishingStatus) %>"><%= t(`badge.publishing_status.${publishingStatus}`) %></strong>
  <% } %>
</div>
