.govuk-header__container {
  border-bottom: 10px solid #aa1111;
}

.govuk-header__logo {
    margin-top: 1em;
}

.govuk-button {
    background-color: #aa1111;
}

.govuk-button--secondary {
    background-color: #f3f2f1;
    box-shadow: 0 2px 0 #929191;
}

.sharebar .govuk-button--secondary {
    margin-bottom: 0px !important;
}

.sharebar {
    background: #e5e5e5;
    margin: 0 0 1em 0;
    padding: 15px 0 15px 0;
    clear: both;
}

.btn--arrow-up {
    background-image: url("data:image/svg+xml;charset=utf8,%3Csvg id=%22Layer_1%22 data-name=%22Layer 1%22 xmlns=%22http://www.w3.org/2000/svg%22 width=%22159.5%22 height=%22102.4%22 viewBox=%220 0 159.5 102.4%22%3E%3Ctitle%3Eblack-arrow-up%3C/title%3E%3Cpath d=%22M159.5,79.8,79.8,0,0,79.8l22.6,22.6L79.7,45.3l57.1,57.1Z%22/%3E%3C/svg%3E");
    background-repeat: no-repeat;
    background-position: 10px center;
    background-size: 20px 20px;
    border: solid 1px #323232;
    padding-left: 36px;
}

.block-share-button {
    background-image: url("data:image/svg+xml;charset=utf8,%3Csvg id=%22Layer_1%22 data-name=%22Layer 1%22 xmlns=%22http://www.w3.org/2000/svg%22 width=%2217.9%22 height=%2220%22 viewBox=%220 0 17.9 20%22%3E%3Cdefs%3E%3Cstyle%3E.cls-1%7Bfill:%23333;%7D%3C/style%3E%3C/defs%3E%3Ctitle%3Eshare%3C/title%3E%3Cpath class=%22cls-1%22 d=%22M15.4,14.1a3,3,0,0,0-2,.8L6.2,10.7a1.7,1.7,0,0,0,.1-.7,1.7,1.7,0,0,0-.1-.7l7.1-4.1a3,3,0,0,0,5-2.2,3,3,0,0,0-6,0,1.7,1.7,0,0,0,.1.7l-7,4.1a2.79,2.79,0,0,0-2-.8,3,3,0,1,0,0,6,2.79,2.79,0,0,0,2-.8l7.1,4.2c0,.2-.1.4-.1.7a2.9,2.9,0,0,0,5.8,0,2.84,2.84,0,0,0-2.68-3Z%22 transform=%22translate%28-0.4 0%29%22/%3E%3C/svg%3E");
    background-repeat: no-repeat;
    background-position: 10px 10px;
    background-size: 20px 20px;
    border: solid 1px #323232;
    padding-left: 36px;
    margin-right: 1em;
}

.welsh-logo {
    margin-top: 1em;
}

@media (min-width: 40.0625em) {
    .govuk-footer {
        padding-top: 0px;
        padding-bottom: 25px;
    }
}

.table-display {
    overflow: auto;
    display: block;
    max-height: 50vh;
    width: 100%;
}