<%- include("../partials/table", {
    isSticky: true,
    columns: locals.headers.map((heading, index) => ({
        key: index,
        label: heading.source_type === 'line_number'
            ? `<span class="govuk-visually-hidden">${t('publish.preview.row_number')}</span>`
            : (() => {
                if (i18n.exists(`publish.time_dimension_review.column_headers.${heading.name.toLowerCase()}`)) {
                    return t(`publish.time_dimension_review.column_headers.${heading.name.toLowerCase()}`)
                } else if (heading.name === dimension.factTableColumn) {
                    return locals.dimension.metadata.name ? dimension.metadata.name : heading.name
                } else {
                    return heading.name
                }  
            })(),
        format: (value, row) => {
            if (heading.source_type === 'line_number') {
                return `<span class="linespan">${value}</span>`
            }
            switch (heading.name) {
                case 'start_date':
                case 'end_date': {
                    return dateFormat(locals.parseISO(value.split('T')[0]), 'do MMMM yyyy')
                }
                case 'date_type': {
                    return t(`publish.time_dimension_review.year_type.${value}`)
                }
            }
            return value;
        },
        className: heading.source_type === 'line_number' ? 'line-number' : '',
        cellClassName: heading.source_type === 'line_number' ? 'line-number' : ''
    })),
    rows: locals.data
}); %>