<% if (locals?.errors) { %>
    <div class="govuk-error-summary" data-module="govuk-error-summary">
        <div role="alert">
            <h2 class="govuk-error-summary__title">
                <%= t('errors.problem') %>
            </h2>
            <div class="govuk-error-summary__body">
                <ul class="govuk-list govuk-error-summary__list">
                    <% locals?.errors.errors.forEach(function(error) { %>
                        <li>
                            <a href="#<%= error.field %>"><%= t(error.tag.name, error.params) %></a>
                        </li>
                    <% }); %>
                </ul>
            </div>
        </div>
    </div>
<% } %>