<% if (locals.flash && locals.flash.length > 0) { %>
<div class="govuk-notification-banner" role="region" data-module="govuk-notification-banner">
    <div class="govuk-notification-banner__content">
        <% locals.flash?.forEach(function(msg) { %>
            <p class="govuk-notification-banner__heading">
                <%= t(msg) %>
            </p>
        <% }); %>
    </div>
</div>
<% } %>
