<% var colour = statusToColour(status) %>

<div class="govuk-task-list__status">
  <strong class="<%= colour ? `govuk-tag govuk-tag--${colour}` : '' %>">
    <%= t(`publish.tasklist.status.${status}`) %>
  </strong>
</div>
