<%- include("./table", {
  columns: [
    {
      key: 'key',
      label: t('translations.export.table.field'),
      format: (value, row) => {
        if (row.type === 'dimension') {
          return t(`translations.export.dimension`, { key: value })
        } else if (row.type === 'metadata') {
          return t(`translations.export.field.${value}`)
        } else if (row.type === 'link') {
          return t(`translations.export.link`, { key: value })
        }
      }
    },
    {
      key: i18n.language.includes('en') ? 'english' : 'cymraeg',
      label: isImport
        ? i18n.language.includes('en') ? t('translations.import.table.english') : t('translations.import.table.welsh')
        : t('translations.export.table.value')
    },
    ...(isImport 
      ? [
        {
          key: i18n.language.includes('en') ? 'cymraeg' : 'english',
          label: i18n.language.includes('en') ? t('translations.import.table.welsh') : t('translations.import.table.english')
        }
      ] 
      : [
        {
          key: 'edit_link',
          label: t('translations.export.table.action'),
          format: (value) =>
            `<a href="${value}">${t('translations.export.buttons.change')}</a>`
        }
      ]
    ),
  ],
  rows: translations
}) %>