<%- include("../partials/header"); %>

<div class="govuk-width-container app-width-container">
  <main class="govuk-main-wrapper" id="main-content" role="main">
      <h1 class="govuk-heading-xl"><%- t('errors.not_found') %></h1>
  </main>
</div>

<%- include("../partials/footer"); %>
