<%- include("../partials/header"); %>

<div class="govuk-width-container app-width-container">
  <!-- <a href="#" class="govuk-back-link">Back</a> -->
  <main class="govuk-main-wrapper" id="main-content" role="main">
      <h1 class="govuk-heading-xl"><%- t('errors.server_error') %></h1>
  </main>
</div>

<%- include("../partials/footer"); %>
