@use 'wg';
@use 'autocomplete';

.wg {

  .govuk-header__link:hover {
    border: none;
  }

  .govuk-header__content {
    display: none;
  }

  .govuk-header {
    background: wg.$charcoal;
    border-bottom: 0px;
    padding: 20px 0px;
    height:34px;
  }

  .govuk-phase-banner {
    .govuk-phase-banner__content {
      font-size: 1rem;
      line-height: 1.25;
    }
  }

  .wg-header {
    background-color: wg.$charcoal;
  }

  .govuk-header__container {
    border-bottom: none;
    padding-top: 0px;
  }

  .govuk-template {
    background-color: wg.$white;
  }

  .govuk-pagination__link {
    color: wg.$red;
  }

  .govuk-pagination__item--current {
    background-color: wg.$white;
  }

  .tasklist-no-border:first-child {
    border-top: none;
  }

  .tasklist-no-border {
    border-bottom: none;
  }

}
